# bibmod records
bak_bibmod.pl/
bak_sample.prf/
bibmod_baker.bat
sample_baker.bat

# Updates
updates.txt

# MSWin link files
*.lnk

# POD-related
bibmod_usage.bat
bibmod.html
pod2htmd.tmp
bibmod_pod2html.bat
